In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/bgsit_hackdata_test.csv")

In [3]:
df

,roll,caste,disability,written_total,total_marks,rank,personality_test
0,2402148,OBC,Fit,743,928,754,185
1,5810839,OBC,Fit,744,949,520,205
2,6906479,Gen,Fit,769,974,211,205
3,3530435,SC,Fit,705,900,944,195
4,414629,SC,Fit,740,905,916,165
...,...,...,...,...,...,...,...
199,5002777,Gen,Fit,764,959,382,195
200,1114622,OBC,Fit,757,925,782,168
201,5913275,EWS,Fit,765,927,762,162
202,4913605,Gen,PwBD-2,736,937,629,201
203,4401150,ST,Fit,719,892,994,173

In [4]:
df.columns

Index(['roll', 'caste', 'disability', 'written_total', 'total_marks', 'rank',
       'personality_test'],
      dtype='object')

In [7]:
df1 = df[['roll', 'caste', 'disability', 'written_total']]

In [9]:
df1.to_csv("../data/raw/bgsit_hackdata_test.csv")